<div class="section">
  <div class="container current-boxes">
    <h1 class="title is-2">Our Boxes</h1>
    <%= render "boxes" %>

    <button class="button is-primary is-large is-rounded add-box">Add New Box</button>
  </div>
</div>

<div class="hero">
  <div class="container">
    <%= render "box_form" %>
  </div>
</div>