<div class="navbar">
  <div class="container">
  </div>
</div>

<div class="hero">
  <div class="container">
    <p class="title is-1">Purrfect Box</p>
    <div class="box">
      <p class="subtitle is-3">
        "If I fits, I sits."
      <blockquote>- Cat</blockquote>
      </p>
    </div>
  </div>
</div>