<div class="product-page">
  <div class="section">
    <div class="container">

        <div class="row">
          <div class="columns">
            <div class="column box subbox" id="subbox1">
              <h1><%= @box.name %></h1>
            </div>
            <div class="box box-reviews">
              <p>
                <%=
              </p>
            </div>
          </div>
        </div>


    </div>
  </div>
</div>