
.box-label {
  font-size: 1.2em;
  text-align: center;
}

.box-price {
  color: #999999;
  font-size: 1em;
}

.add-box {
  display: block;
  margin: 0 auto;
}

.new-box-form {
  margin: 0 auto;
  width: 50%;
}

.box-form {
  display: none;
}

.exit-form {
  margin-top: 1em;
}

.edit-box {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}

