
.box-label {
  font-size: 1em;
  text-align: center;
}

.box-price {
  color: #999999;
  font-size: 0.85em;
  padding-bottom: 1em;
}

.add-box {
  display: block;
  margin: 1.5em auto;
}

.new-box-form {
  margin: 0 auto;
  width: 50%;
}

.edit-form {
  width: 50%;
  margin: 0 auto;
}

.box-form {
  display: none;
}

.exit-form {
  margin-top: 1em;
}

.box-options {
  margin-top: 2em;
}

.delete-box {
  width: 35%;
  display: inline-flex;
  margin: 0 auto;
  //float: right;
}

.edit-box {
  width: 30%;
  display: inline-flex;
  margin: 0 auto;
  margin-left: 15%;
  //float: left;
}



