
.box-label {
  font-size: 1.2em;
  text-align: center;
}

.box-price {
  color: #999999;
  font-size: 1em;
}

.add-box {
  display: block;
  margin: 1.5em auto;
}

.new-box-form {
  margin: 0 auto;
  width: 50%;
}

.box-form {
  display: none;
}

.exit-form {
  margin-top: 1em;
}

.edit-box {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #2E2F30;
  border: none;
  font-size: 3em;
  padding: 0 4em;
  background-color: transparent;
}

.owl-dot {
  background-color: transparent;
  border: none;
}