.carousel {
  display: block;
  margin: 0 auto;
  .carousel-item {
    display: block;
    margin: 0 auto;
  }
}

.carousel-product {
  width: 90%;
}

.box-image {
  display: block;
  margin: 0 auto;
  padding-bottom: 1em;
}

.arrow {
  display: block;
  margin: 10% auto;
}