.home-page {
  .home-body {
    font-family: "Comfortaa";
    .hero {
      h1 {
        text-align: center;
        margin-top: 0.5em;
      }
      .section {
        h3 {
          font-size: 1.4em;
          .is-4 {
            text-align: center;
          }
        }

        .home-boxes {
          width: 70%;
          .subbox {
            margin: 0 auto;
            background-color: snow;
          }
        }
      }
    }
  }
  .home-header {
    font-family: "Comfortaa";
    display: block;
    margin: 1.2rem auto;
    .un-bold {
      font-weight: 300;
    }
    .title {
      text-align: center;
    }
  }
}

#top-boxes, #recent-boxes {
  background-color: linen;
  .most-reviewed {
    display: block;
    margin: 0 auto;
    width: 55%;
  }
  .most-recent {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.2em;
    width: 45%;
  }
}

#logo {
  img {
    display: block;
    top: 2em;
    height: 20%;
    width: 20%;
    margin: 0 auto;
    margin-top: -.25em;
    margin-bottom: -1em;
  }
}

.review-amount {
  font-size: 0.75em;
  color: #4a4a4a;
}