.navbar {
  background-color: #F7F7F7;
  color: gray();

  .navbar-item {
    a {
      font-size: 1.25em;
      &:hover {
        font-weight: 400;
        color: black;
      }
    }
  }

  .home-link {
    margin: 0 auto;
  }

  .nav-links {
    font-size: 0.75em;
  }

}